/* General Reset and Styling */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #EDE8D0; /* beige */
  color: #333; /* Dark text */
}

/* Sidebar */
nav#sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Hidden by default */
  height: 100%;
  width: 250px;
  background: white;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
  transition: right 0.3s ease;
}

nav#sidebar a {
  margin: 15px 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;
}

nav#sidebar a:hover {
  color: #ff6f61;
}

/* Toggle Button */
#nav-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ff6f61;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1100;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#nav-toggle:checked + #nav-button + #sidebar {
  right: 0; /* Show the sidebar when checked */
}

/* Header */
header {
  background-color: #722F37; /* Wine */
  color: white;
  text-align: center;
  padding: 20px;
}

header .name {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}

/* Hero Section */
#hero {
  position: relative;
  height: 100vh;
  color: white;
  text-align: center;
  overflow: hidden;
}

#hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  z-index: 1;
}

#hero h1 {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  header .name {
    font-size: 2rem;
  }

  nav#sidebar {
    width: 200px; /* Adjust sidebar width */
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero p {
    font-size: 1rem;
  }

  .card {
    max-width: 100%; /* Full width on smaller screens */
    margin: 20px 10px;
  }

  .work-image img {
    width: 90%; /* Fit images better on mobile */
    margin: auto;
  }

  footer {
    padding: 10px; /* Adjust padding */
  }

  footer a {
    font-size: 0.8rem; /* Adjust link size */
  }
}

@media (min-width: 769px) {
  .card {
    max-width: 800px;
  }

  #hero h1 {
    font-size: 4rem;
  }

  #hero p {
    font-size: 1.5rem;
  }
}
